/* Global Styles */
a{
	color: aquamarine;
}

body{
	background-color: #000;
	color: #fff;
	font-family: Verdana;
	text-align: center;
}

/* Header */

header h1{
	font-weight: normal;
	font-size: 50px;
}

header a{
	font-size: 16px;
}

/* Info section */
#info h2{
	font-weight: 300;
	font-size: 42px;
}

#info h4{
	font-size: 21px;
	color: gray;
	font-weight: 200;
}

#info img{
	height: auto;
	width: 70%;
	margin: 20px 0;
}

/* Coming Soon section */
#coming-soon h2{
	font-weight: 300;
	font-size: 42px;
}

/* Footer */

footer p{
	color: gray;
	text-align: right;
}